<div class='mainRow'>

    <div class="empList">
        <ul>
            <ng-container *ngFor="let e of employee">
             <li *ngIf="dropdownValue=='Select Department'||e.Department==dropdownValue">
                 
                        <h2>{{e.name}}</h2>
                        <h3>{{e.position}}</h3>
                        <p>Department : {{e.Department}}</p>
                        <p>Location: {{e.Location}}</p>
                        <p>Date of Joining: {{e.join_date}} </p>
                  
            </li>   
            </ng-container>
        </ul>


    </div>
    
    <div class="empFilter">
        <p>Select Department</p>
        <select id='Department' [(ngModel)]=dropdownValue (change)='OnDepratmentChange($event)'>
            <option value='Select Department'>Select Department</option>
            <option value='Wealth Management'>Wealth Management</option>
            <option value='Enterprise Management'>Enterprise Management</option>
            <option value='others'>Others</option>
        </select>
    </div>


</div>