
<div class='JobTable' *ngIf=TableView>
Add Job <input type="submit" name='add_job' Value="+" (click)="OnAddJobClcik()">
<br><hr><br>
<table>
    <tr>
        <th>Job ID </th>
        <th>Title</th>
        <th>Department</th>
        <th>Location</th>
        <th>Status</th>
        <th>Date Posted</th>
        <th>Experience</th>
        <th> </th>
    </tr>

    <tr *ngFor="let j of job">
        <td>{{j.Job_id}}</td>
        <td>{{j.Title}}</td>
        <td>{{j.Department}}</td>
        <td>{{j.Location}}</td>  
        <td>{{j.Status}}</td>
        <td>{{j.Date_posted}}</td>
        <td>{{j.Experience}}</td>
        <td>{{j.Blank}}</td>
    </tr>
</table>

</div>

<div class='AddJobpage' *ngIf=AddJobView>
    <h2>Please add your new Job Details</h2>
    <br><br><br>

        Job ID: <input type="number" placeholder="Job ID" [(ngModel)]=newJob.Job_id><br>
        Title: <input type="text" placeholder="Title"  [(ngModel)]=newJob.Title><br>
        Department: <input type="text" placeholder="Department"  [(ngModel)]=newJob.Department><br>
        Location: <input type="text" placeholder="Location"  [(ngModel)]=newJob.Location><br>
        Status: <input type="text" placeholder="Status"  [(ngModel)]=newJob.Status><br>
        Date Posted: <input type="date" placeholder="Date"  [(ngModel)]=newJob.Date_posted><br>
        Experience: <input type="text" placeholder="Experience"  [(ngModel)]=newJob.Experience>yrs <br><br>

        <input type="button" Value="Submit Details" (click)="OnNewJobAdded()">




</div>