<ul>
    <li><a class="active" href="#Job description" (click)="OnNavChange('Manage Job description')">Manage Job description</a></li>
    <li><a href="#Assessment">Assessment Test</a></li>
    <li><a href="#Employee" (click)="OnNavChange('Employee 360')">Employee 360</a></li>
    <li><a href="#Manager">Manager Insights</a></li>  
    <li><a href="#Webmail">Webmail</a></li>
    <li><a href="#Task">Task</a></li>
    <li><a href="#Chats">Chats and calls></a></li>
    <li><a href="#Calender">Calender</a></li>
  </ul>